/*IMPORTAMOS LA FUENTE*/
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Oxanium',cursive;/*fuente importada*/

}
body{
    text-align: center;
    background: linear-gradient(to bottom,#6ab7f5,#fff);
    min-height:100vh;
}
main{
   
  display:inline-block;
    margin-top:2%;
    padding:15px;
    position:relative;
}

.pokedex{
    width:auto;
    max-width: 1000px; 
}
.pokemon__image{
    position:absolute;
    bottom:56%;
    left:25%;
    transform:translate(-50%,110%);
    height:15%
}
.pokemon__data{
    position:absolute;
    font-weight: 600;
    color: #aaa;
    top:35%;
    right:20%;
    font-size: calmp(8px,5vw,25px);
}
.pokemon__name{
    color:#3a444d;
    text-transform: capitalize;   
}
.input__search{
    position: absolute;
    
    width: 50%;
    top:76%;
    right: 48.5%;
    border-color: transparent;
    background-color: transparent;

}
.input__search{
  background-color: transparent;
    width: 42%;
    padding:4%;
    outline: none;
    
    border-radius: 5px;
    font-weight: 600;
    color:#3a444d;
    font-size: clamp(8px,5vw,1rem);
    

}
.buttons {
  position: absolute;
  bottom: 10%;
  left: 47.9%;
  width: 15%;
  transform: translate(-97%, -125%);
  display: flex;
  gap: 20px;
  border-color: transparent;
}

.button {
  margin-left: 7%;
  width: 15%;
  padding: 4%;
  border-color: transparent;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: transparent;

}

.button:active {
  
  font-size: 0.9rem;
}


.information{
  
 
  
  background-color: rgb(0, 128, 0);
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  font-size: 20px;
  padding:15px ;
}
.pokeName {
  display: flex;
  text-transform: capitalize;
  color: #ffffff;
}
.pokeStats{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  color: #ffffff;
  font-size: 25px;
 

}
.pokeStats b{
  
  width:  100%;
}
.pokeStats p{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
  color: #ffffff;
  
  
}
.pokeStats p p{
  display: flex;
}
.pokeStats p p p{
  padding-left: 10px;
}
.pokeAbilities, .pokeName, .pokeId, .pokeType {
  margin-bottom: 10px;
  color: #ffffff;
}